{% extends "base.html.twig" %}

{% block body %}
	<div class="container-main-favs pb-5">
		{% if favs | length != 0 %}
			<h1 class="title-fav py-5">Consultez vos favoris</h1>
		{% endif %}
		{% for product in favs %}
			<div class="card-watch d-flex justify-between shadow">
				{% include "fav/_fav.html.twig" %}
				<div class="d-flex justify-content-center align-items-center">
					<img class="img-fav" src="{{ '/img/' ~ (product.imgUrl | split(',')[0]) }}" alt="{{ product.model }}">
				</div>
				<div class="infos d-flex flex-column">
					<span class="brand-model">{{ product.brand }}
						-
						{{ product.model }}</span>
					<span class="d-block price">{{ ((product.priceHt * 1.20) / 100) | format_currency('EUR') }}</span>
					{% if product.description > 110 %}
						<p class="desc">{{ (product.description | slice(0, 110) ~ '...') |striptags|raw }}</p>
					{% else %}
						<p class="desc">{{ product.description |striptags|raw }}</p>
					{% endif %}
					<a href="{{ path('app_product_show', { id: product.id }) }}" class="btn btn-primary show-more-button">Voir plus</a>
				</div>
			</div>
		{% else %}
			<h1 class="no-product">Vous n'avez aucun produit en favoris, cliquez sur le cœur doré pour en ajouter.</h1>
		{% endfor %}
	</div>


{% endblock %}
