<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Demande de
			{{ contact.name }}
			{{ contact.firstname }}</h1>

		<p>Email :
			{{contact.email }}</p>
		<p>Sujet :
			{{contact.subject}}</p>
		<div>
			<p>Message :</p>
			<p>{{contact.message|raw }}</p>
		</div>
	</body>
</html>
