{% extends 'base_cart.html.twig' %}

{% block title %}
	{{parent()}}
	- Panier
{% endblock %}

{% block body %}
	<div class="cart container-lg mb-5">
		<div class="d-flex gap-3 align-items-center">
			<h2 class="mt-3 fw-bold">MON PANIER
				<span class="fs-6">({{productTotal}}
					articles)</span>
			</h2>

		</div>
		<div>
			<p class="fw-bold">Livraison OFFERTE* | Retours sous 30 jours</p>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 d-flex flex-column gap-3 mt-2">
				{% for element in dataCart %}
					<div class="border border-2 border-dark d-flex gap-3 position-relative">
						<div class="w-25 d-flex align-items-center justify-content-center">
							<img class="w-75" src="{{'img/' ~ ((element.product.imgUrl | split(',')[0]) | split('-')[0] ~ '-' ~ element.color ~ '.png')}}" alt="">
						</div>
						<div>

							<h3 class="mt-2 me-5">{{ element.product.brand }}
								-
								{{element.product.model}}</h3>

							<p>{{ (element.product.priceHT * 1.2) | format_currency('EUR')}}
							</p>
							<p>
								<a class="btn btn-light" href="{{path('cart.remove', {id: element.product.id, color: element.color})}}">-</a>
								{{element.quantity}}
								<a class="btn btn-light" href="{{path('cart.add', {id: element.product.id, color: element.color})}}">+</a>
							</p>

							<a href="{{path('cart.delete', {id: element.product.id, color: element.color})}}" class="btn position-absolute cartDelete">
								<i class="fa-solid fa-xmark fs-3 primary"></i>
							</a>
						</div>
					</div>
				{% else %}
					<tr>
						<td colspan="5" class"text-center">Votre panier est vide</td>
					</tr>
				{% endfor %}


			</div>
			<div class="col-12 col-md-6 mt-2">
				<div class="p-3 order-recap">
					<h2>Récapitulatif de la commande</h2>
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }}" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}

					{{form_start(reduceForm)}}
					<div class="row g-3">
						<div class="col">
							{{form_widget(reduceForm.code)}}
							{{form_errors(reduceForm.code)}}
						</div>
						<div class="col">
							<button class="btn btn-outline-primary mb-2">Appliquer</button>
						</div>
					</div>
					{{form_end(reduceForm)}}

					<p>Sous total HT :
						{{ (total / 1.2) | format_currency('EUR')}}</p>
					{% if dataReduce %}
						<p>Code de réduction :
							{{dataReduce.code}}
							(-{{dataReduce.value ~ dataReduce.type}})
						</p>
					{% endif %}

					<p>Frais de livraison : Offert</p>
					<p>TVA : 20%</p>
					<h2>TOTAL TTC :
						{% if dataReduce %}
							<span class="fs-5">
								<s>{{ total | format_currency('EUR')}}</s>
							</span>
							{{ totalReduce | format_currency('EUR')}}
						{% else %}
							{{ total | format_currency('EUR')}}
						{% endif %}
					</h2>
					<button class="btn btn-lg btn-primary">VALIDER MON PANIER</button>
				</div>
			</div>
		</div>
	</div>
	<pre>
	</pre>
{% endblock %}
