{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<div class="cart container mb-5">
		<div class="d-flex gap-3 align-items-center">
			<h2 class="m-0">MON PANIER</h2>
			<p class="m-0">? articles</p>
		</div>
		<div>
			<p>Livraison OFFERTE* | Retours sous 30 jours</p>
		</div>
		<div class="d-flex">
			<div class="w-50 d-flex flex-column gap-3">
				{% for element in dataCart %}
					<div class=" container-cart d-flex gap-3">
						<div class="w-25 d-flex align-items-center justify-content-center">
							<img class="w-75" src="{{'img/' ~ (element.product.imgUrl | split(',')[0])}}" alt="">
						</div>
						<div>
							<h3 class="mt-2">{{ element.product.brand }}</h3>

							<p>{{ element.product.priceHT }}€ HT</p>
							<p>
								<a class="btn btn-light" href="{{path('app_remove', {id: element.product.id})}}">-</a>
								{{element.quantity}}
								<a class="btn btn-light" href="{{path('app_add', {id: element.product.id})}}">+</a>
							</p>
							<a href="{{path('app_delete', {id: element.product.id})}}" class="btn btn-danger mb-2">
								<i class="fa-solid fa-trash"></i>
							</a>


						</div>

					</div>

				{% else %}
					<tr>
						<td colspan="5" class"text-center">Votre panier est vide</td>
					</tr>
				{% endfor %}

				<div class="bonus">
					<p class="m-0">Bonus : Emballage cadeau avec checkbox</p>
				</div>
			</div>
			<div class="w-50 order-recap">
				<div class="ms-5 me-5 mt-3">
					<h2>Récapitulatif de la commande</h2>
					<p>code promo
						<input type="text">
						<button>valider</button>
					</p>
					<p>Sous total HT :
						{{ total / 1.2}}
						€</p>
					<p>Frais de livraison : 4.99 €</p>
					<p>TVA : 20%</p>
					<h2>TOTAL TTC :
						{{ total + 4.99}}
						€</h2>
					<button class="btn btn-lg btn-primary">VALIDER MON PANIER</button>
				</div>
			</div>
		</div>
	</div>
	<pre>
	</pre>
{% endblock %}
