{% extends 'base.html.twig' %}

{% block title %}Laxar - Ventes de montres
{% endblock %}

{% block body %}
	<div class="banner container-fluid py-3 shadow-sm">
		<div class="container-lg text-center text-md-start py-5">
			<div class="row">
				<div class="col-12 col-md-6 ">
					<h1 class="fw-bold">{{watch.brand}}
						{{watch.model}}</h1>
					<p class="text-white py-3">{{watch.description}}</p>
					<button class="btn btn-xl btn-primary fs-5">Acheter</button>
					<span class="fs-5 fw-bold ms-3">{{(watch.priceHT * 1.2) | format_currency('EUR')}}</span>
				</div>
				<div class="col-12 col-md-6 position-relative banner-img-col">
					<img class="banner-img position-absolute" src="{{'img/' ~ (watch.imgUrl | split(',')[0])}}" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="about-watch-text container-lg d-flex flex-column align-items-center align-items-md-end text-center text-md-end">
		<h2 class="fw-bold primary">About the Watch</h2>
		<p class="w-sm-50 lh-lg">Watches progressed in the 17th century from spring-powered clocks, which appeared as early as the 14th century. During most of its history was a mechanical device, driven by clockwork, powered by winding a mainspring, and keeping time.</p>
	</div>
	<div class="about-watch container-lg position-relative mb-5">
		<div class="container-lg">
			<div class="row">
				<div class="col-md-6 d-none d-md-block text-center">
					<img class="about-watch-img1" src="{{asset('img/edge2.png')}}" alt="">
					<div class="square"></div>
					<div class="">
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Resistante au rayure
						</p>
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Resistante a l'eau
						</p>
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Bracelet en Acier
						</p>
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Chronographe
						</p>
					</div>
				</div>
				<div class="col 12 col-md-6">
					<img class="about-watch-img" src="{{asset('img/edge.png')}}" alt="">
					<div class="text d-block d-md-none position-absolute">
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Resistante au rayure
						</p>
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Resistante a l'eau
						</p>
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Bracelet en Acier
						</p>
						<p class="text-white mt-2">
							<i class="fa-solid fa-star"></i>
							Chronographe
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
