{% extends "base.html.twig" %}


{% block title %}
	{{parent()}}
	-
	{{order.id}}
{% endblock %}

{% block body %}
	<div class="container-lg">
		<h2 class="fs-4 my-4">Mon compte</h2>
		<div class="row">
			<section class="mt-5 account col col-md-4 pe-md-4">
				<ul class="list-group list-group-flush">
					<li class="list-group-item py-3 bg-color">
						<h2 class="fs-4 fw-bold">Bonjour
							{{ user.firstname }}</h2>
					</li>
					<li class="list-group-item py-3 bg-color">
						<a href="#">
							<div class="d-flex justify-content-between align-items-center">
								<i class="fa-solid fa-memo-circle-info fs-4" style="color: #000000;"></i>
								<span>Informations</span>
								<i class="fa-solid fa-chevron-right" style="color: #000000;"></i>
							</div>
						</a>
					</li>
					<li class="list-group-item py-3 bg-color">
						<a href="{{ path('app_reset_password') }}">
							<div class="d-flex justify-content-between align-items-center">
								<i class="fa-solid fa-lock fs-4" style="color: #000000;"></i>
								<span>Mot de passe</span>
								<i class="fa-solid fa-chevron-right" style="color: #000000;"></i>
							</div>
						</a>
					</li>
					<li class="list-group-item py-3 bg-color-active">
						<a href="{{path('order.index', {id: app.user.id})}}">
							<div class="d-flex justify-content-between align-items-center">
								<i class="fa-solid fa-bags-shopping fs-4" style="color: #000000;"></i>
								<span>Mes commandes</span>
								<i class="fa-solid fa-chevron-right" style="color: #000000;"></i>
							</div>
						</a>
					</li>
					<li class="list-group-item py-3 bg-color">
						<a href="{{ path('app_logout') }}">
							<div class="d-flex">
								<i class="fa-solid fa-right-from-bracket fs-4" style="color: #000000;"></i>
								<span class="ms-4 ps-4">Se déconnecter</span>
							</div>
						</a>
					</li>
				</ul>
			</section>
			<section class="my-5 col col-md-8">
				<div class="card border border-3 rounded-2">

					<div class="card-body d-flex flex-column justify-content-between align-items-start h-100">
						<h4 class="card-title fw-bold">Commandes n°{{order.id}}</h4>
						<p class="card-text fw-bold">Total :
							{{order.total | format_currency('EUR')}}</p>
						<p class="card-text fw-bold statut" data-statut="{{order.status}}">
							{{order.status}}
						</p>
						<div class="table-responsive w-100 text-nowrap">
							<table class="table align-middle text-center">
								<thead>
									<tr>
										<th scope="col">Image</th>
										<th scope="col">Marque</th>
										<th scope="col">Modele</th>
										<th scope="col">quantité</th>
										<th scope="col">prix HT</th>
										<th scope="col">prix TTC</th>
									</tr>
								</thead>
								<tbody>
									{% for item in orderItems %}
										<tr>
											<td><img style="width: 40px" src="{{asset('img/' ~ item.product.imgUrl | split(',')[0] )}}" alt=""></td>
											<td>{{item.product.brand}}</td>
											<td>{{item.product.model}}</td>
											<td>{{item.quantity}}</td>
											<td>{{(item.product.priceHT * item.quantity) | format_currency('EUR')}}</td>
											<td>{{((item.product.priceHT * 1.2) * item.quantity) | format_currency('EUR')}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

						<p class="card-text">
							<small class="text-body-secondary ">Commande effectuée le
								{{order.createdAt | date('d-m-Y à H:i')}}</small>
						</p>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}
