{% extends 'base.html.twig' %}

{% block title %}Produits - {{ parent() }}{% endblock %}

{% block body %}
<div class="d-flex container-lg container-main">
    <aside class="filter">
        <form action="{{ path('app_product') }}" method="GET" class="d-flex flex-column">
            <div class="in-progress">Affinez vos recherches</div>
            <div class="separate-line"></div>
            <div class="category-filter">
                <div class="d-flex flex-column gap-3">
                    <label for="select-brand" class="title-filter">Marques</label>
                    <select class="select form-select" name="brand" id="select-brand">
                        <option value="">Toutes</option>
                        {% for brand in brands %}
                            <option value="{{ brand['brand'] }}" {{ brand_choice == brand['brand'] ? 'selected' : null }}>{{ brand['brand'] }}</option>
                        {% endfor %}
                    </select>
                    <label for="select-material" class="title-filter">Matériaux :</label>
                    <select class="select form-select" name="material" id="select-material">
                        <option value="" selected>Tous</option>
                        {% for material in materials %}
                            <option value="{{ material['material'] }}" {{ material_choice == material['material'] ? 'selected' : null }}
                            >{{ material['material'] | title }}</option>
                        {% endfor %}
                    </select>
                    <label for="select-case-diameter" class="title-filter">Tailles du cadran :</label>
                    <select class="select form-select" name="case_diameter" id="select-case-diameter">
                        <option value="">Toutes</option>
                        {% for case_diameter in case_diameters %}
                            <option value="{{ case_diameter['case_diameter'] }}" {{ case_diameter_choice == case_diameter['case_diameter'] ? 'selected' : null }}>{{ case_diameter['case_diameter'] }} mm</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn-primary btn-filter">Filtrer</button>
        </form>
        {% if alert %}
            <div class="alertMsg py-3">Aucun résultat trouvé pour votre recherche.</div>
        {% endif %}
    </aside>
    <div class="container-section d-flex flex-column align-items-center">
        {% for product in products|sort((a, b) => a.priceHt <=> b.priceHt) %}
            <div class="card-watch d-flex justify-between">
                <div class="d-flex justify-content-center align-items-center">
				    <img class="img-product" src="{{ '/img/' ~ (product.imgUrl | split(',')[0]) }}" alt="{{ product.model }}">
                </div>
                <div class="infos d-flex flex-column">
                    <span class="brand-model">{{ product.brand }} - {{ product.model }}</span>
                    <span class="d-block price">{{ (product.priceHt * 1.20 - 0.01) | format_currency('EUR') }}</span>
                    {% if product.description > 110 %}
                        <p class="desc">{{ product.description | slice(0, 110) ~ '...' }}</p>
                    {% else %}
                        <p class="desc">{{ product.description }}</p>
                    {% endif %}
                    <a href="{{ path('app_product_show', { id: product.id }) }}" class="btn-primary show-more-button">Voir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
