{% extends 'base.html.twig' %}

{% block title %}Produits - OverTime{% endblock %}

{% block body %}
    <div class="container-lg container-section d-flex flex-column align-items-center">
        {% for product in products %}
            <div class="card-watch d-flex justify-between">
                <div class="img-product d-flex justify-content-center align-items-center">
                    <span>image.png</span>
                </div>
                <div class="infos d-flex flex-column">
                    <span class="brand-model">{{ product.brand }} - {{ product.model }}<span class="d-block price">{{ (product.priceHt * 1.20 - 0.01) | format_currency('EUR') }}</span></span>
                    {% if product.description > 250 %}
                        <p class="desc">{{ product.description | slice(0, 250) ~ '...' }}</p>
                    {% else %}
                        <p class="desc">{{ product.description }}</p>
                    {% endif %}
                    <a href="#" class="btn-primary show-more-button">Voir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
