{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ product.model }}
{% endblock %}

{% block body %}
	<div class="container-lg">
		<div class="container-show d-flex flex-column flex-md-row align-items-center py-5 gap-4">
			<div class="little-pictures-container d-flex flex-md-column justify-content-around align-items-center w-100">
				{% for img in (product.imgUrl | split(',')) %}
					<img class="little-pictures" src="{{'/img/' ~ img }}" alt="{{ product.model }}">
				{% endfor %}
			</div>
			<div class="main-picture-container d-flex flex-column align-items-center justify-content-center">
				<img class="main-picture" src="{{ '/img/' ~ (product.imgUrl | split(',')[0]) }}" alt="{{( product.imgUrl | split(',')[0]) }}">
			</div>
			<div class="info d-flex flex-column gap-3 align-items-center align-items-md-start">
				<h1 class="fw-bold fs-1">{{ product.brand }}
					{{ product.model }}</h1>
				<h2 class="fw-bold primary">{{ (product.priceHt * 1.20 - 0.01) | format_currency('EUR') }}</h2>
				<div class="choice-color-container">
					<p class="fw-bold mb-2">Colors</p>
					<div class="d-flex gap-3">
						{% for color in product.color | split(',') %}
							<div class="colors {{color}}" data-color="{{color}}"></div>
						{% endfor %}
					</div>
				</div>
				<form action="{{path('cart.add', {id: product.id})}}" method="get">
					<input type="hidden" name="color" value="{{product.color | split(',')[0]}}" id="form-color">
					<button class="btn btn-lg btn-primary mt-4">Ajouter au panier</button>
				</form>
			</div>
		</div>
		<ul class="nav nav-tabs" role="tablist">

			<li class="nav-item" role="presentation">
				<a class="nav-link active" data-bs-toggle="tab" href="#description" aria-selected="true" role="tab">Description</a>
			</li>

			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#reviews" aria-selected="false" role="tab" tabindex="-1">Avis</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#caract" aria-selected="false" role="tab" tabindex="-1">Caracteristiques</a>
			</li>


		</ul>
		<div id="myTabContent" class="tab-content mb-3">
			<div class="tab-pane fade active show" id="description" role="tabpanel">
				<p class="p-5">{{product.description}}</p>
			</div>
			<div class="tab-pane fade" id="reviews" role="tabpanel">
				<div class="p-5">
					{% for review in reviews %}
						<p>{{review.content}}</p>
					{% endfor %}
					<div class="bg-white rounded border shadow-sm p-4 mb-5 rating-review-select-page">
						{{form_start(form)}}
						<h5 class="mb-4">Laissez un avis</h5>
						{{form_row(form.firstname)}}


						<span class="gl-star-rating gl-star-rating-ltr" data-star-rating="">
							<select class="star-rating">
								<option value="">Select a rating</option>
								<option value="5">Excellent</option>
								<option value="4">Very Good</option>
								<option value="3">Average</option>
								<option value="2">Poor</option>
								<option value="1">Terrible</option>
							</select>
							<span class="gl-star-rating-stars s30">
								<span data-value="1" data-text="Tres mauvais"></span>
								<span data-value="2" data-text="Mauvais"></span>
								<span data-value="3" data-text="Bien"></span>
								<span data-value="4" data-text="Tres bien"></span>
								<span data-value="5" data-text="Excellent"></span>
							</span>
							<span class="gl-star-rating-text">Bien</span>
						</span>

						{{form_row(form.content)}}
						<button class="btn btn-primary btn-sm mt-2" type="button">Envoyer</button>
						{{form_end(form)}}
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
