{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ product.model }}
{% endblock %}

{% block body %}
	<div class="container-lg">
		<div class="container-show d-flex flex-column flex-md-row align-items-center py-5 gap-4">
			<div class="little-pictures-container d-flex flex-md-column justify-content-around align-items-center w-100">
				{% for img in (product.imgUrl | split(',')) %}
					<img class="little-pictures" src="{{'/img/' ~ img }}" alt="{{ product.model }}">
				{% endfor %}
			</div>
			<div class="main-picture-container d-flex flex-column align-items-center justify-content-center">
				<img class="main-picture" src="{{ '/img/' ~ (product.imgUrl | split(',')[0]) }}" alt="{{( product.imgUrl | split(',')[0]) }}">
			</div>
			<div class="info d-flex flex-column gap-3 align-items-center align-items-md-start">
				<h1 class="fw-bold fs-1">{{ product.brand }}
					{{ product.model }}</h1>
				<h2 class="fw-bold primary">{{ (product.priceHt * 1.20 - 0.01) | format_currency('EUR') }}</h2>
				<div class="choice-color-container">
					<p class="fw-bold mb-2">Colors</p>
					<div class="d-flex gap-3">
						{% for color in product.color | split(',') %}
							<div class="colors {{color}}" data-color="{{color}}"></div>
						{% endfor %}
					</div>
				</div>
				<form action="{{path('cart.add', {id: product.id})}}" method="get">
					<input type="hidden" name="color" value="{{product.color | split(',')[0]}}" id="form-color">
					<button class="btn btn-lg btn-primary mt-4">Ajouter au panier</button>
				</form>
			</div>
		</div>
		<ul class="nav nav-tabs" role="tablist">

			<li class="nav-item" role="presentation">
				<a class="nav-link active" data-bs-toggle="tab" href="#description" aria-selected="true" role="tab">Description</a>
			</li>

			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#reviews" aria-selected="false" role="tab" tabindex="-1">Avis</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#caract" aria-selected="false" role="tab" tabindex="-1">Caracteristiques</a>
			</li>


		</ul>
		<div id="myTabContent" class="tab-content mb-3">
			<div class="tab-pane fade active show" id="description" role="tabpanel">
				<p class="p-5">{{product.description}}</p>
			</div>
			<div class="tab-pane fade" id="reviews" role="tabpanel">
				<div class="p-5">
					<div class="bg-white rounded border shadow-sm p-4 mb-5 rating-review-select-page row">
						<div class="col-12 col-md-6 text-center">
							<div class="rating-block">
								<h4>Note moyenne</h4>
								<h2 class="bold padding-bottom-7">{{average | number_format(1, '.', ' ')}}
									<small>/ 5</small>
								</h2>
								<button type="button" class="btn btn-primary btn-sm text-white" aria-label="Left Align">
									<i class="fa-solid fa-star"></i>
								</button>
								<button type="button" class="btn {{average >= 2 ? 'btn-primary' : 'btn-grey'}}  btn-sm text-white" aria-label="Left Align">
									<i class="fa-solid fa-star"></i>
								</button>
								<button type="button" class="btn {{average >= 3 ? 'btn-primary' : 'btn-grey'}}  btn-sm text-white" aria-label="Left Align">
									<i class="fa-solid fa-star"></i>
								</button>
								<button type="button" class="btn  {{average >= 4 ? 'btn-primary' : 'btn-grey'}} btn-sm text-white" aria-label="Left Align">
									<i class="fa-solid fa-star"></i>
								</button>
								<button type="button" class="btn {{average >= 5 ? 'btn-primary' : 'btn-grey'}}  btn-sm text-white" aria-label="Left Align">
									<i class="fa-solid fa-star"></i>
								</button>
								<p>({{ reviews | length}}
									avis)</p>
							</div>
						</div>
						<div class="col-12 col-md-6 d-flex flex-column align-items-center">
							<h4>
								Répartition des notes</h4>
							{% for i in 5..1 %}

								<div class="d-flex align-items-center justify-content-start w-100">
									<div>
										<span>{{i}}
										</span>
										<i class="fa-solid fa-star"></i>
									</div>
									<div class="progress">
										<div class="progress-bar bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="{{(((_context['count' ~ i]) / (reviews | length)) * 100) | round}}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="ms-2">({{_context['count' ~ i]}})</div>
								</div>
							{% endfor %}
						</div>
					</div>
					{# display all review #}
					<div class="bg-white rounded border shadow-sm p-4 mb-5 rating-review-select-page">
						{% for review in reviews %}
							<h5>{{review.firstname | capitalize }}</h5>
							<span>
								<i class="fa-solid fa-star primary"></i>
								<i class="{{review.evaluation >= 2 ? 'fa-solid' : 'fa-regular' }} fa-star primary"></i>
								<i class="{{review.evaluation >= 3 ? 'fa-solid' : 'fa-regular' }} fa-star primary"></i>
								<i class="{{review.evaluation >= 4 ? 'fa-solid' : 'fa-regular' }} fa-star primary"></i>
								<i class="{{review.evaluation >= 5 ? 'fa-solid' : 'fa-regular' }} fa-star primary"></i>
							</span>
							<p>{{review.content}}</p>
							{% if review.user == app.user %}
								<a href="{{path('review.delete', {idProduct: product.id, idReview: review.id})}}">
									<i class="fa-solid fa-trash primary"></i>
								</a>
							{% endif %}
							<hr>
						{% endfor %}
					</div>
					{# form send review #}
					{% if app.user %}
						<div class="bg-white rounded border shadow-sm p-4 mb-5 rating-review-select-page">
							{{form_start(form)}}
							<h5 class="mb-4">Laissez un avis</h5>
							{{form_row(form.firstname)}}
							<span class="gl-star-rating gl-star-rating-ltr" data-star-rating="">
								{{form_widget(form.evaluation)}}
								<span class="gl-star-rating-stars s30">
									<span data-value="1" data-text="Tres mauvais"></span>
									<span data-value="2" data-text="Mauvais"></span>
									<span data-value="3" data-text="Bien"></span>
									<span data-value="4" data-text="Tres bien"></span>
									<span data-value="5" data-text="Excellent"></span>
								</span>
								<span class="gl-star-rating-text">Bien</span>
							</span>

							{{form_row(form.content)}}
							<button class="btn btn-primary btn-sm mt-2">Envoyer</button>
							{{form_end(form)}}
						</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
