<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-lg">
		<a class="title d-lg-none" href="{{path('home.index')}}">LA<span>X</span>AR</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa-regular fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
			<ul class="w-25 navbar-nav mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Hommes
					</a>
					<div class="dropdown-menu mt-0 shadow" aria-labelledby="navbarDropdown" style="width: 400px">
						<div class="container">
							<div class="row my-2">
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Marque</p>
										<a href="" class="list-group-item py-1">Rolex</a>
										<a href="" class="list-group-item py-1">Seiko</a>
										<a href="" class="list-group-item py-1">Omega</a>
										<a href="" class="list-group-item py-1">Tissot</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Matieres</p>
										<a href="" class="list-group-item py-1">Metal</a>
										<a href="" class="list-group-item py-1">Cuir</a>
										<a href="" class="list-group-item py-1">Silicone</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Mouvement</p>
										<a href="" class="list-group-item py-1">Automatique</a>
										<a href="" class="list-group-item py-1">Mecanique</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Femmes
					</a>
					<div class="dropdown-menu mt-0 shadow" aria-labelledby="navbarDropdown" style="width: 400px">
						<div class="container">
							<div class="row my-2">
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Marque</p>
										<a href="" class="list-group-item py-1">Rolex</a>
										<a href="" class="list-group-item py-1">Seiko</a>
										<a href="" class="list-group-item py-1">Omega</a>
										<a href="" class="list-group-item py-1">Tissot</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Matieres</p>
										<a href="" class="list-group-item py-1">Metal</a>
										<a href="" class="list-group-item py-1">Cuir</a>
										<a href="" class="list-group-item py-1">Silicone</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Mouvement</p>
										<a href="" class="list-group-item py-1">Automatique</a>
										<a href="" class="list-group-item py-1">Mecanique</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Accessoires</a>
				</li>
			</ul>
			<a class="w-25 title d-none d-lg-flex align-items-baseline justify-content-center" href="{{path('home.index')}}">LA<span>X</span>AR</a>
			<div class="w-25 navbar-nav d-flex gap-4 justify-content-end align-items-lg-center">
				<form class="form-search d-flex align-items-center" role="search">
					<input class="form-control me-2 search" type="search" name="search" placeholder="Recherche..." aria-label="Search"/>

					<i type="submit" class="fa-regular fa-magnifying-glass" id="searchBtn"></i>
				</form>

				{% if app.user == null %}
				<a href=" {{ path('app_login') }}">
					<i class="fa-regular fa-user"></i>
				</a>
				{% endif %}
				{% if app.user %}
				{# <a href=" {{ path('app_user', {id:user.id}) }}"> #}
					<i class="fa-regular fa-user"></i>
				{# </a> #}
				{% endif %}
				<a href="{{path('app_cart')}}">
					<i class="fa-regular fa-cart-shopping"></i>
				</a>

			</div>
		</div>
	</div>
</nav>
