<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-lg">
		<a class="title d-lg-none" href="{{path('home.index')}}">LA<span>X</span>AR</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa-regular fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
			<ul class="w-25 navbar-nav mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Hommes
					</a>
					<div class="dropdown-menu mt-0 shadow" aria-labelledby="navbarDropdown" style="width: 400px">
						<div class="container">
							<div class="row my-2">
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Marque</p>
										{% for brand in brandsGlobal %}
											<a href="{{ path('app_product') }}?brand={{ brand['brand'] }}&category=homme" class="list-group-item py-1">{{ brand['brand'] }}</a>
										{% endfor %}
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Matieres</p>
										{% for material in materialsGlobal %}
											<a href="{{ path('app_product') }}?material={{ material['material'] }}&category=homme" class="list-group-item py-1">{{ material['material']|title }}</a>
										{% endfor %}
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Mouvements</p>
										{% for movement in movementsGlobal %}
											<a href="{{ path('app_product') }}?movement={{ movement['movement'] }}&category=homme" class="list-group-item py-1">{{ movement['movement']|title }}</a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Femmes
					</a>
					<div class="dropdown-menu mt-0 shadow" aria-labelledby="navbarDropdown" style="width: 400px">
						<div class="container">
							<div class="row my-2">
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Marque</p>
										{% for brand in brandsGlobal %}
											<a href="{{ path('app_product') }}?brand={{ brand['brand'] }}&category=femme" class="list-group-item py-1">{{ brand['brand'] }}</a>
										{% endfor %}
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Matieres</p>
										{% for material in materialsGlobal %}
											<a href="{{ path('app_product') }}?material={{ material['material'] }}&category=femme" class="list-group-item py-1">{{ material['material']|title }}</a>
										{% endfor %}
									</div>
								</div>
								<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
									<div class="list-group list-group-flush">
										<p class="mb-0 list-group-item text-white fw-bold">Mouvements</p>
										{% for movement in movementsGlobal %}
											<a href="{{ path('app_product') }}?movement={{ movement['movement'] }}&category=femme" class="list-group-item py-1">{{ movement['movement']|title }}</a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

			</ul>
			{% if scrollRevealIndex is defined %}
				<a class="w-25 title d-none d-lg-flex align-items-baseline justify-content-center" href="{{path('home.index')}}">
					<span class="laLaxarReveal">LA</span>
					<span class="xLaxarReveal">X</span>
					<span class="arLaxarReveal">AR</span>
				</a>
			{% else %}
				<a class="w-25 title d-none d-lg-flex align-items-baseline justify-content-center" href="{{path('home.index')}}">LA<span>X</span>AR</a>
			{% endif %}
			<div class="w-25 navbar-nav d-flex gap-4 justify-content-end align-items-lg-center">
				<form action="{{path('app_product')}}" class="form-search d-flex align-items-center" role="search">
					<input class="searchSubmit" type="submit" value="">
					<input class="form-control me-2 search" type="search" name="search" placeholder="Recherche..." aria-label="Search"/>
					<i class="fa-solid fa-magnifying-glass" id="searchBtn"></i>
				</form>

				{% if app.user == null %}
					<a href=" {{ path('app_login') }}">
						<i class="fa-regular fa-user"></i>
					</a>
				{% endif %}
				{% if app.user %}
					<a href=" {{ path('app_user', { id: app.user.id }) }}">
						<i class="fa-regular fa-user"></i>
					</a>
					<a href=" {{ path('fav.list', { id: app.user.id }) }}">
						<i class="fa-regular fa-heart"></i>
					</a>
				{% endif %}
				<a class="position-relative cartIcon" href="{{path('cart.index')}}">
					<i class="fa-sharp fa-solid fa-cart-shopping"></i>
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						{{app.session.get('panier') | length}}
					</span>
				</a>
			</div>
		</div>
	</div>
</nav>
